# .
todos.txt

# src
/src/.env

# reactapp
/src/reactapp/node_modules

/src/reactapp/dependencies
/src/reactapp/node_modules
/src/reactapp/.pnp
/src/reactapp/.pnp.js

# testing
/src/reactapp/coverage

# production
# /src/reactapp/build

# misc
/src/reactapp/.DS_Store
/src/reactapp/.env.local
/src/reactapp/.env.development.local
/src/reactapp/.env.test.local
/src/reactapp/.env.production.local

/src/reactapp/npm-debug.log*
/src/reactapp/yarn-debug.log*
/src/reactapp/yarn-error.log*

Procfile