.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  text-align: center;
  padding: 0 2rem;
  position: relative;
}

.App-header {
  max-height: 80px;
}

.App-main {
  height: calc(100vh - 80px);
}