.workout-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 16px;
}

.workout {
  border-radius: 6px;
  box-shadow: 0px 2px 4px 0px #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 8px 0px 8px;
  overflow: hidden;
  position: relative;
  height: 518px;  
  width: 100%;
}

.workout * {
  border: none !important;
}

/* .workout::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.workout::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.workout::-webkit-scrollbar-thumb {
  background-color: #11171a;
  border-radius: 10px;
} */

.exercises {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: scroll;
}

.exercises::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.exercises::-webkit-scrollbar-track {
  /* background-color: rgba(255, 255, 255, 0.1); */
  border-radius: 10px;
}
.exercises::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 10px;
}

.exercise-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}

.workout-controls {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  width: 100%;
}

.workout-controls button {
  box-shadow: 1px 2px 4px 0px #ccc;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 4px;
  padding: 6px;
}

.workout-controls .delete-workout-button {
  background-color: red;
}

.workout-controls .add-exercise-button {
  background-color: rgb(0, 255, 191);
}